html,body{width: 100%;height: 100%;}
.swiper-slide,.swiper-wrapper,.swiper-container{height: 100%;}


/*第一页*/
@keyframes changeimgopacity{
	0%{opacity: 0.1;}
	8%{opacity: 0.1;}
	50%{opacity: 1;}
	100%{opacity: 1;}
}
@keyframes changept{
	0%{transform:scale(1);opacity: 1}
	50%{transform:scale(0.4);opacity: 0.3}
	100%{transform:scale(1);opacity: 1}
}
@keyframes changeyu{
	0%{transform:rotate(-45deg) scaleY(0);}
	100%{transform:rotate(-45deg) scaleY(1);}
}
/*向下滑动*/
.swiper-wrapper>div .slidp{position: absolute;bottom: 0.1rem;width: 100%;}
.swiper-wrapper>div .slidp img{display: block;margin: 6px auto;}
.swiper-wrapper>div .slidp img:nth-child(1){height: 0.7rem;animation:changept 2s infinite 0.6s;}
.swiper-wrapper>div .slidp img:nth-child(2){height: 0.42rem;animation:changept 2s infinite 0.4s;}
.swiper-wrapper>div .slidp img:nth-child(3){height: 0.26rem;animation:changept 2s infinite 0.2s;}

.swiper-wrapper div:nth-child(1){overflow: hidden; position: relative; background: url(../img/1yun.png) no-repeat,url(../img/bg1.jpg) no-repeat;background-size:10.8rem 19.2rem;}
.swiper-wrapper div:nth-child(1)>img.chuan{position: absolute;bottom: 0;width: 100%;animation:changeimgopacity 4s infinite alternate;}

.swiper-wrapper div:nth-child(1)>img.sanj{width: 9rem;height: 6.2rem;position: absolute;left: 0.66rem;top: 6.02rem;}
.swiper-wrapper div:nth-child(1)>img.pt{width: 100%;position: absolute;top: 5.88rem;}
.swiper-wrapper div:nth-child(1)>img.fly{width: 1.71rem;position: absolute;top: 10.31rem;left:4.42rem;opacity: 0.8;}
.swiper-wrapper div:nth-child(1)>img.zhusu{width: 1.29rem;position: absolute;top: 8.39rem;left: 0.97rem;}
.swiper-wrapper div:nth-child(1)>img.meishi{width: 1.29rem;position: absolute;top: 8.45rem;left:8.8rem;}
.swiper-wrapper div:nth-child(1)>img.wuyu{position: absolute;top: 7.37rem;left: 6.88rem;width: 0.85rem;}
.swiper-wrapper div:nth-child(1)>img.aozhou{width: 4.86rem;position: absolute;top: 7.35rem;left: 2.81rem;}
.swiper-wrapper div:nth-child(1)>img.dengni{width: 7.24rem;position: absolute;top: 13.68rem;left: 1.84rem;}
.swiper-wrapper div:nth-child(1)>.yu{z-index: -1; position: absolute;background-color: #fd9b93;transform:rotate(-45deg);animation:changeyu 0.7s;height: 4.74rem;transform-origin:left top;}




/*第二页*/
@keyframes shangcha{
	0%{transform:translateX(4.66rem) translateY(-4.68rem);}
	100%{transform:translateX(0rem) translateY(0rem);}
}
@keyframes xiacha{
	0%{transform:translateX(-3.92rem) translateY(3.74rem);}
	100%{transform:translateX(0rem) translateY(0rem);}
}
@keyframes qiqiu{
	0%{transform:translateX(0);}
	50%{transform:translateX(1rem);}
	100%{transform:translateX(0);}
}

.swiper-wrapper>div:nth-child(2){position: relative;overflow: hidden; background: url(../img2/bg.png) no-repeat;background-size: 10.8rem 19.2rem;}
.swiper-wrapper>div:nth-child(2) .chuan{position: absolute;bottom: 0;width: 100%;}
.swiper-wrapper>div:nth-child(2) .women{position: absolute;top:5.2rem;width: 100%;z-index: 50;}
.swiper-wrapper>div:nth-child(2) .xiaoyun{position: absolute;width: 1rem;left: 5.46rem;top: 5.46rem;animation:qiqiu 12s linear infinite;}
.swiper-wrapper>div:nth-child(2) .dayun{position: absolute;top:9.3rem;left:7.18rem;width: 3.6rem;animation:qiqiu 12s linear infinite;}
.swiper-wrapper>div:nth-child(2) .qiqiu{position: absolute;top:6rem;left:0.8rem;width: 1.64rem;animation:qiqiu 6s linear infinite;}
.swiper-wrapper>div:nth-child(2) .freetxt{position: absolute;top:7.54rem;width: 100%;}
.swiper-wrapper>div:nth-child(2) .youqian{position: absolute;top:14rem;width: 100%;}
.swiper-wrapper>div:nth-child(2) .yuanyun{position: absolute;top:7.76rem;left:8rem;width: 0.68rem;}
.swiper-wrapper>div:nth-child(2) .shangcha{position: absolute;left:7.94rem;top:3.78rem;width: 2.35rem;display: none;}
.swiper-wrapper>div:nth-child(2) .xiacha{position: absolute;top:11.14rem;left:1.06rem;width: 1.8rem;display: none;}
.swiper-wrapper>div:nth-child(2) .shangcharu{display: block; animation:shangcha 1s;}
.swiper-wrapper>div:nth-child(2) .xiacharu{display: block; animation:xiacha 1s;}

.swiper-wrapper>div:nth-child(3){background-color:red;}
